<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barcha mualliflar</title>
</head>
<body>
    <br>
    <br>
    <hr>
    <h1>Barcha mualliflar ro'yhati:</h1>
    <hr>
    <br>
    {% for muallif in mualliflar %}
        <h3 style="display:inline-block; margin-right:20px;">{{muallif.id}}. <a href="">{{muallif}}</a></h3>
    <a href="/m4_del/{{muallif.id}}/"><button type="submit">Delete</button></a> <br>
    {% endfor %}
    <br>
    <br>
    <form action="/mualliflar4_1/" method="post"> {% csrf_token %}
        <input type="text" name="ismi" placeholder="Ism ...">
        <select name="tirik" >
            <option value="True">Tirik</option>
            <option value="False">O'lgan</option>
        </select>
        <input type="number" name="kitobi"  placeholder="Kitob soni ...">
        <input type="date" name="t_yil" >
        <button type="submit">Qo'shish</button>
    </form>
    <br>
    <br>
    <br>
</body>
</html>