<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recordlar</title>
</head>
<body>
  <br>
  <br>
  <hr>
  <h1>Barcha recordlar:</h1>
  <hr>
  <br>
  {% for record in recordlar %}
    <h3>{{record.id}}. <a href="/records/{{record.id}}/">{{record}}</a></h3>
  {% endfor %}
  <br>
  <br>
  <form action="/recordlar2/" method="post"> {% csrf_token %}
    <select name="students" >
      {% for student in studentlar %}
        <option value="{{student.id}}"> {{student}}</option>
      {% endfor %}
    </select>

    <select name="books" >
      {% for kitob in kitoblar %}
        <option value="{{kitob.id}}">{{kitob.nom}} </option>
      {% endfor %}
    </select>

    <input name="o_sana" type="date">

    <label for="bt">Qaytardi:</label>
    <input id="bt" type="checkbox" name="bt">

    <button type="submit">Qo'shish</button>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
</html>